table{
    border-collapse: collapse;
    background-color: #0E8784;
    color: #ffff;
    text-align: center;
    align-items: center;
    font-size: 24px;
    font-family: "Arial", sans-serif;
    margin: 50px;
    padding: 20
    ;
}

th, td {
    border: 2px solid red;
}

tr:hover{
    background-color: #2C343E;
}

.table-data{
    background-image: url(../../images/sharshara.jpg);
}
